h1,
h2,
h3,
div,
p,
body {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h3 {
    line-height: 26px;
}

body {
    font-family: "Source Han Sans", "Noto Sans CJK SC", "HanHei SC",
        "Microsoft YaHei", sans-serif;
}


.flex-sb {
    display: flex;
    justify-content: space-between;

}

.container {
    width: 750px;
    margin: 0 auto;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    padding: 46px;
}

.logo {
    width: 204px;
    text-align: left;
}

.logos {
    width: 204px;
    text-align: left;
    margin-top: 40px;
}

.lang {
    width: 40px;
    height: 40px;
    margin-top: 20px;

    img {
        width: 40px;
        height: 40px;
    }
}

.title {
    text-align: center;
    font-size: 40px;
    font-family: "youshe";
    font-weight: 400;
    color: #bc1b29;
    line-height: 104px;
    font-style: normal;
    text-transform: none;
    margin-top: 50px;
}

/* 标题数字 */
.box {
    position: relative;
    margin-bottom: 30px;
}

.number-img1 {
    width: 124px;
}

.number-img {
    width: 150px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #BC1B29;
    line-height: 70px;
    text-align: left;
    font-style: normal;
    text-transform: none;
    position: absolute;
    bottom: -22px;
}

.line-img {
    width: 160px;
    height: 16px;
    position: absolute;
    bottom: -20px;
    left: 50px;
}

.content {
    margin-top: 60px;
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.text {
    font-family: Source Han Sans, Source Han Sans;
    font-weight: 400;
    font-size: 24px;
    color: #111111;
    line-height: 40px;
    text-align: justify;
    font-style: normal;
    text-transform: none;
    margin-top: 20px;
}

.bold {
    font-weight: bold;
    font-size: 32px;
    display: inline-block;
    margin: 0px 120px 0 12px;
}

.section-title1 {
    font-family: Poppins, Poppins;
    font-weight: 500;
    font-size: 40px;
    color: #BC1B29;
    line-height: 60px;
    text-align: left;
    font-style: normal;
    text-transform: none;
    margin-top: 40px;
}

.line {
    width: 188px;
    height: 4px;
    background: linear-gradient(63deg, #BC1B29 0%, rgba(188, 27, 41, 0) 100%);
    border-radius: 56px 56px 56px 56px;
}

.arrange {
    margin-top: 40px;
    line-height: 40px;
    height: 40px;
}

.time {
    font-size: 28px;
    color: #9C9C9C;
    width: 180px;
    line-height: 40px;
}

.dots {
    width: 28px;
    height: 28px;
    margin-right: 16px;
    margin-top: 6px;

}

.arrange-text {
    font-weight: 400;
    font-size: 32px;
    color: #111111;
    line-height: 40px;
    text-align: justify;
    font-style: normal;
    text-transform: none;
}

.guest {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.guest-item {
    width: 30%;
    height: auto;
    margin-top: 20px;
    position: relative;
}

.outline-img {
    width: 100%;
    /* height: 190px; */
}
.profile-img{
    width: 96%;
    position: absolute;
    left: 2%;
    top: 4px;
}
.guest-name {
    font-weight: 700;
    font-size: 28px;
    color: #BC1B29;
    line-height: 41px;
    text-align: left;
    font-style: normal;
    text-transform: none;
    margin: 8px 0;
}

.guest-dec {
    font-weight: 400;
    font-size: 16px;
    color: #111111;
    line-height: 23px;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

/* 表单内容 */
.form {
    margin-top: 40px;
}

.el-cascader{
    width:100%
}
.el-input__inner {
    height: 66px !important;
    border: none;
    /* background-color: #fafafa; */
    font-size: 20px;
    padding: 0px 40px !important;
}

.el-input__inner::placeholder {
    color: #999 !important;
}

.el-form-item__content {
    margin-left: 0 !important;
    margin-top: 20px;
}

/* 覆盖el-checkbox的背景色 */
.el-checkbox__input .el-checkbox__inner,
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    border-color: #BC1B29;
    /* 蓝色边框 */
    width: 16px;
    height: 16px;

}

.el-checkbox__inner:after {
    width: 4px;
    height: 8px;
    font-size: 20px;
    border-width: 2px;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #BC1B29;
}

/* 如果想要修改选中时的el-checkbox的样式 */
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #BC1B29;
    border-color: #BC1B29;

}

.checked-text {
    display: inline-block;
    font-size: 24px;
    margin-left: 12px;
    position: relative;
    top: 3px;
}

.checked-text1 {
    font-size: 20px;
    margin-top: 16px;
}


.el-button--primary {
    background: #bc1b29 !important;
    font-size: 34px !important;
    border-color: #bc1b29 !important;
    /* padding: 16px 40px !important; */
    border-radius: 12px;
    width: 100%;
    height: 86px;
}

.code {
    width: 265px;
    height: 265px;
    margin: 0 auto;
    padding: 50px 0 20px 0;
}

.code-box {
    justify-content: space-around;
}

.code-img {
    width: 260px;
}

.bottom-text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 160px;
}

.mt-50{
    margin-top: 50px;
}
@media screen and (max-width: 750px) {
    .container {
        width: 96%;
        margin: 0 auto;
        padding: 20px;
    }

    .logo img,.logos img {
        width: 150px;
    }

    .lang {
        width: 30px;
        height: 30px;
        margin-top: 10px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    .title {
        margin-top: 10px;
    }

    h1 {
        font-size: 36px;
        font-weight: 700;
    }

    h2 {
        font-size: 16px;
        font-weight: 400;
    }

    h3 {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .content {
        margin-top: 30px;
        position: relative;
    }

    /* 标题数字 */
    .box {
        position: relative;
        margin-bottom: 30px;
    }

    .number-img1 {
        width: 80px;
    }
    .number-img {
        width: 100px;
    }
    .section-title {
        font-size: 24px;
    }

    .line-img {
        bottom: -12px;
        width: 120px;
        left: 30px;
    }

    .text {
        font-size: 16px;
        line-height: 30px;
        margin-top: 12px;
    }

 

    .bold {
        font-size: 18px;
        margin: 0px 60px 0 12px;
    }

    .section-title1 {
        font-size: 24px;
    }

    .line {
        width: 108px;
        height: 2px;
    }

    .arrange {
        margin-top: 20px;
        line-height: 30px;
        height: 30px;
    }

    .time {
        font-size: 16px;
        color: #9C9C9C;
        width: 100px;
        line-height: 30px;
    }

    .dots {
        width: 16px;
        height: 16px;
        margin-right: 16px;
        margin-top: 6px;

    }

    .arrange-text {
        font-size: 16px;
        line-height: 30px;
    }
    .guest-name {
        font-size: 16px;;
        line-height: 30px;
    }
    
    .guest-dec {
        font-size: 12px;
        color: #111111;
    }
    .profile-img{
        top: 2px;
    }

    /**表单内容 */
    .form{
        margin-top: 20px;
    }
    .el-form-item {
        margin-bottom: 12px !important;
    }
    .el-input__inner {
        height: 42px !important;
        width: 100% !important;
        font-size: 16px;
    }
    .checked-text{
        font-size: 16px;
    top: 1px;

    }
    .checked-text1{
        font-size: 12px;
    }
    .el-button--primary {
        background: #bc1b29 !important;
        font-size: 20px !important;
        border-color: #bc1b29 !important;
        height: 42px;
        font-size: 20px;
    }

    .code {
        width: 150px;
        height: 180px;
        margin: 0 auto;
        padding: 50px 0 20px 0;
    }

    .code-box {
        justify-content: space-around;
    }

    .code-img {
        width: 140px;
    }

    .bottom-text {
        font-size: 16px;
        text-align: center;
        margin-bottom: 50px;
    }
}